*{
    margin: 0;
    padding: 0;
}
body {
    /* Configuração de fonte */
    font-family: Helvetica;}

    /* Estilo aplicado nos elementos
    pela classe id=div-paragrafos */

    #div-paragrafos {
        color: aliceblue;
        background-color: rgb(93, 93,48);
    }
    /*Estilo aplicado nos elementos pela classe  */

    .Longo {
        background: rgb(91, 94, 93) ;
    }
    /* Estilo aplicado nos elementos
    pela classe id=p1 */

    #p1 {
        color: red;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium';
    }

    p{
        font-family: 'Arial';
    }